@model CityInputModel


<form method="post">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <button type="submit">Add</button>
</form>