@model CountriesListViewModel



<h1>
    Hello from All Countries
</h1>
<button >
    <a asp-controller="Countries" asp-action="Add">Add Country</a>
</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Country Name</th>
            <th scope="col">Number of Cities</th>
        </tr>
        @foreach (var country in Model.Contries)
        {
    <tr>
        <td>
            @country.Name
        </td>
        <td>
           0
        </td>

        <td>
            <a asp-controller="Countries" asp-action="Details"  asp-route-id="@country.Id">Details</a>
        </td>
    </tr>
        }
    </thead>
  
</table>