@model CountryViewModel

<h1>
    @Model.Name
</h1> 

<button class="btn btn btn-primary">
    <a asp-action="Add" asp-controller="Cities" asp-route-countryId="@Model.Id">Add City</a>
</button>

@foreach (var city in Model.Cities)
{
    <p>@city.Name</p>
}

