@model CountryViewModel

<h1>
    @Model.Name
</h1> 



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">City Name</th>
        </tr>
    </thead>

    @foreach (var city in Model.Cities)
    {
        <tr>
            <td>@city.Name</td>
        </tr>

    }

</table>

<a asp-action="Add" asp-controller="Cities" asp-route-countryId="@Model.Id" class="btn btn btn-primary mb-2">
    Add City
</a>

